# محیط مجازی پایتون
venv/

# دیتابیس سایت (اطلاعات سفارشات و کاربران نباید روی گیت برود)
db.sqlite3

# عکس‌های آپلودی توسط ادمین در پنل
media/

# فایل‌های کش پایتون
__pycache__/
*.pyc

# فایل‌های استاتیک تجمیع‌شده برای سرور
staticfiles/

# فایل‌های مخفی و متغیرهای محیطی
.env